<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <!-- dev -->
      <add key="EWNBase-Development" value="http://lnidpc003109d/ewn3min"/>

      <!--   TEST/INT -->
      <add key="EWNBase-Test" value="https://dev-secure.lni.wa.gov/ewn3"/>

      <!--   Pre-Prod -->
      <add key="EWNBase-Pre-Prod" value="https://test-secure.lni.wa.gov/ewn3"/>
      
      <!--   Prod -->
      <add key="EWNBase-Production" value="https://secure.lni.wa.gov/ewn3"/>
      
    </appSettings>
  
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"  />
    </system.web>

</configuration>
